
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
}

:root {

    --bg-main: rgb(0, 0, 0);
    --bg-projects: #141414;
    --bg-about: #222222;

    --gradient-pink: rgb(255, 0, 170);
    --gradient-yellow: rgb(255, 245, 1);
    --gradient-blue: rgb(0, 248, 254);
    --gradient-purple: rgb(193, 0, 240);
    --gradient-white: rgb(255, 255, 255);

    --header-gradient: repeating-linear-gradient(110deg, rgb(255, 255, 255), rgb(255, 245, 1), rgb(255, 0, 170), rgb(193, 0, 240), rgb(0, 248, 254), rgb(9, 235, 0), rgb(255, 255, 255));

    --alt-gradient-1-berry: rgb(166, 3, 139);
    --alt-gradient-1-blue: rgb(3, 88, 140);
    --alt-gradient-1-dark-green: rgb(3, 150, 66);
    --alt-gradient-1-med-green: rgb(3, 166, 166);
    --alt-gradient-1-light-green: rgb(4, 191, 173);

    --alt-gradient-1: repeating-linear-gradient(110deg, rgb(255, 255, 255), rgb(166, 3, 139), rgb(3, 88, 140), rgb(3, 150, 66), rgb(3, 166, 166), rgb(4, 191, 173), rgb(255, 255, 255));
    
    
    
    --text-main: rgb(255, 255, 255);

    --menu-button-hover: repeating-linear-gradient(110deg, rgba(255, 245, 1, 0.75), rgba(255, 0, 170, 0.75), rgba(193, 0, 240, 0.75), rgba(0, 248, 254, 0.75), rgba(9, 235, 0, 0.75));

    --menu-button-hover-2: linear-gradient(110deg, rgba(166, 3, 139, 0.75), rgba(3, 88, 140, 0.75), rgba(3, 150, 66, 0.75), rgba(3, 166, 166, 0.75), rgba(4, 191, 173, 0.75));
    
    --misc-green: #A6FF00;

}


html {
    margin: 0;
    padding: 0;
    width: 100%;
  
    background-color: var(--bg-main);
    color: var(--text-main);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;

    /* 

    background: var(--header-gradient);
    background-clip: text;
    color: transparent;

    */
}

#main-content-area {
    margin: 0;
    padding: 0;
    width: 100%;
}

#header-content {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* NAV BAR */
#nav-bar {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

#nav-icon-dashboard {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
    justify-content: flex-end;
    align-items: center;
}

#nav-icon-dashboard a {

    width: 2.8rem;
    height: 2.8rem;

    margin: 0.5rem 1rem 0.5rem 0.1rem;
    padding: 0.2rem;
    text-decoration: none;

    border: 1px solid white;
    border-radius: 0.4rem;

    color: var(--text-main);
    opacity: 90%;

}

#nav-icon-dashboard a:hover {
    background: var(--menu-button-hover-2);
}


#nav-icon-dashboard i {
    box-sizing: border-box;
    margin: 0.2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
}
/* END NAV BAR */

/* HERO */
#hero {
    margin: 0;
    padding: 0;
    width: 100%;
}

#profile-img-wrapper {
    border-radius: 50%;
    padding: 0;
    margin: 2rem auto;
    width: 20rem;
    height: auto;
}

#profile-img-wrapper img {
    width: 16rem;
    height: auto;
    border-radius: 50%;

    border: 10px dotted white;
    border-right: none;
    border-top: none;

    margin: 0 auto;
    padding: 0;
}

h1,
h2 {
    font-family: 'Cabin Sketch', serif;
    font-weight: 700;
}

h1 {
    font-size: 5rem;
    margin: 0 auto;
    padding: 0;
    line-height: 4.8rem;
    letter-spacing: 0.1rem;

    background: var(--alt-gradient-1);
    background-clip: text;
    color: transparent;
}

#hero p {
    font-family: 'Shadows Into Light', cursive;
    color: var(--text-main);
    opacity: 80%;
    font-size: 2rem;
    margin: 0.1rem auto 0.2rem auto;
    padding: 0.2rem;
    line-height: 2.4rem;
}
/* END HERO */


/* PROJECT & ABOUT SECTIONS */
#project-box,
#about-box {
    margin: 0 auto;
    padding: 0;
    width: 100%;

    border-top: 0.1rem solid rgb(59, 59, 59);
    color: var(--text-main);
}

#project-box {
    background-color: var(--bg-projects);
}

#about-box {
    background-color: var(--bg-about);
}

#project-box-content,
#about-box-content {
    margin: 0 auto;
    padding: 0.8rem;
    width: 80%;
}

h2 {
    font-size: 3.6rem;
    margin: 0.4rem auto;
    padding: 0.4rem;
    line-height: 3.8rem;
    letter-spacing: 0.1rem;
    color: var(--text-main);
    opacity: 75%;
}

.card-holder {
    margin: 0 auto;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.card {
    border: 3px solid white;
    border-radius: 0.4rem;
    margin: 0.4rem auto 1rem auto;
    width: 30rem;
    overflow-wrap: normal;
    height: 28rem;
    width: 28rem;
    
}

.card h3 {
    margin: 0 auto;
    padding: 0.2rem;
    width: 100%;

    border-bottom: 1px solid white;

    font-family: 'Shadows Into Light', cursive;
    color: var(--alt-gradient-1-light-green);
    opacity: 90%;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.card p,
h4 {
    margin: auto 2rem 0 3rem;
    padding: 0.2rem;
    text-align: start;
}

.card p {
    font-size: 20px;
    line-height: 1.4rem;
}

h3 span {
    font-family: 'Shadows Into Light', cursive;
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 0 auto;
    padding: 0;
}

h4 {
    text-transform: uppercase;
    font-weight: 800;
    font: 24px;
    margin-top: 0.4rem;
}

.card img {
    border: 2px solid white;
    width: 60%;
    height: auto;
    padding: 0.2rem;
    border-radius: 0.4rem;
    margin-top: 0.8rem;
}

.card::after {
    content: "";
    clear: both;
    display: flex;
    overflow: hidden;
}

.skill-icon-tray {
    margin: 0.2rem auto 0.1rem auto;
    padding: 0.2rem;
    font-size: 0.8rem;
    line-height: 0.9rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    align-items: center;
    color: var(--text-main);
}

#button-box {
    width: 100%;
    margin: 0 auto;
    padding: 0.2rem;
}

button {
    background-color: black;
    color: var(--gradient-blue);
    border: 2px solid white;
    border-radius: 0.4rem;
    margin: 0 auto 0.1rem auto;
    padding: 0.1rem 1rem;
    font-size: 2rem;
    font-family: 'Shadows Into Light', cursive;
}

#social-icons {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#social-icon-dashboard {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
    justify-content: space-around;
    align-items: center;
}

#social-icon-dashboard a {
    width: 2.8rem;
    height: 2.8rem;

    margin: 0.4rem auto;
    padding: 0.2rem;
    text-decoration: none;

    border: 1px solid transparent;
    border-radius: 0.4rem;

    color: var(--text-main);
    opacity: 80%;
}

#social-icon-dashboard a:hover {
    border: 1px solid white;
    background: var(--menu-button-hover-2);
}

#social-icon-dashboard i {
    box-sizing: border-box;
    margin: 0.2rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 2rem;
}

.about-card {
    border: 1px solid transparent;
    border-radius: 0.4rem;
    margin: 0.2rem auto 1rem auto;
    width: 60rem;
}

.about-card::after {
    content: "";
    clear: both;
    display: flex;
}

.about-card h3, .about-card p {
    margin: 0.1rem auto 0.1rem 0.4rem;
    padding: 0.2rem;
    width: 100%;
    opacity: 90%;

    letter-spacing: 0.1rem;
    text-align: start;
}

.about-card h3 {
    font-size: 1.1rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    font-family: 'Shadows Into Light', cursive;
    color: var(--alt-gradient-1-light-green);
}

.about-card p {
    font-size: 0.9rem;
    line-height: 1.1rem;
    width: 98%;
}
/* END PROJECT & ABOUT SECTIONS */

/* FOOTER */
#footer {
    margin: 0;
    padding: 0;
    width: 100%;
}

#footer p {
    font-size: 20px;

    margin: 0 auto;
    padding: 0.2rem;
    width: 100%;

    font-family: 'Shadows Into Light', cursive;
    opacity: 60%;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--text-main);
}
/* END FOOTER */

/* SPACERS */
.spacer-1rem {
    height: 1rem;
    margin: 0;
    padding: 0;
}

.spacer-2rem {
    height: 2rem;
    margin: 0;
    padding: 0;
}

.spacer-4rem {
    height: 4rem;
    margin: 0;
    padding: 0;
}

.spacer-6rem {
    height: 6rem;
    margin: 0;
    padding: 0;

    border: 2px solid lime;
}

.spacer-8rem {
    height: 8rem;
    margin: 0;
    padding: 0;

    border: 2px solid lime;
}

.spacer-10rem {
    height: 10rem;
    margin: 0;
    padding: 0;

    border: 2px solid lime;
}

.spacer-12rem {
    height: 12rem;
    margin: 0;
    padding: 0;

    border: 2px solid lime;
}

.spacer-16rem {
    height: 16rem;
    margin: 0;
    padding: 0;

    border: 2px solid lime;
}

.spacer-20rem {
    height: 20rem;
    margin: 0;
    padding: 0;

    border: 2px solid lime;
}

.spacer-40rem {
    height: 40rem;
    margin: 0;
    padding: 0;

    border: 2px solid lime;
}