
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
}

:root {

    --bg-main: rgb(0, 0, 0);
    --bg-projects: #141414;
    --bg-about: #222222;

    --gradient-pink: rgb(255, 0, 170);
    --gradient-yellow: rgb(255, 245, 1);
    --gradient-blue: rgb(0, 248, 254);
    --gradient-purple: rgb(193, 0, 240);
    --gradient-white: rgb(255, 255, 255);

    --header-gradient: repeating-linear-gradient(110deg, rgb(255, 255, 255), rgb(255, 245, 1), rgb(255, 0, 170), rgb(193, 0, 240), rgb(0, 248, 254), rgb(9, 235, 0), rgb(255, 255, 255));

    --alt-gradient-1-berry: rgb(166, 3, 139);
    --alt-gradient-1-blue: rgb(3, 88, 140);
    --alt-gradient-1-dark-green: rgb(3, 150, 66);
    --alt-gradient-1-med-green: rgb(3, 166, 166);
    --alt-gradient-1-light-green: rgb(4, 191, 173);

    --alt-gradient-1: repeating-linear-gradient(110deg, rgb(255, 255, 255), rgb(166, 3, 139), rgb(3, 88, 140), rgb(3, 150, 66), rgb(3, 166, 166), rgb(4, 191, 173), rgb(255, 255, 255));
    
    --text-color-main: rgb(255, 255, 255, 0.8);
    --text-color-nav: rgba(255, 255, 255, 0.6);
    --text-color-footer: rgba(255, 255, 255, 0.6);

    --h3-text-color: rgb(4, 191, 173);

    --border-1: rgba(255, 255, 255, 0.8);
    --border-2: rgba(255, 255, 255, 0.6);
    --border-3: rgba(255, 255, 255, 0.4);

    --menu-button-hover: repeating-linear-gradient(110deg, rgba(255, 245, 1, 0.75), rgba(255, 0, 170, 0.75), rgba(193, 0, 240, 0.75), rgba(0, 248, 254, 0.75), rgba(9, 235, 0, 0.75));
    --menu-button-hover-2: linear-gradient(110deg, rgba(166, 3, 139, 0.75), rgba(3, 88, 140, 0.75), rgba(3, 150, 66, 0.75), rgba(3, 166, 166, 0.75), rgba(4, 191, 173, 0.75));
    --hover-overlay: rgba(255, 255, 255, 0.1);
}

/* structural/main styles */
html, body, header, main, footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

html {
    background-color: var(--bg-main);
    color: var(--text-color-main);
}

body {}


/* NAV BAR */
nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#nav-icon-dashboard {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
    justify-content: flex-end;
    align-items: center;
}

#nav-icon-dashboard a {
    margin: 0.5rem 1rem 0.5rem 0.1rem;
    padding: 0.2rem;
    width: 2.8rem;
    height: 2.8rem;
    border: 1px solid var(--border-1);
    border-radius: 0.4rem;
    color: var(--text-color-nav);
    text-decoration: none;
}

#nav-icon-dashboard a:hover {
    background: var(--menu-button-hover-2);
}

#nav-icon-dashboard i {
    box-sizing: border-box;
    margin: 0.2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
/* END NAV BAR */

/* HERO */
#hero {
    margin: 0;
    padding: 0;
    width: 100%;
}

#profile-img-wrapper {
    margin: 4rem auto;
    width: 20rem;
    height: auto;
    padding: 0;
    border-radius: 50%;
}

#profile-img-wrapper img {
    margin: 0 auto;
    padding: 0;
    width: 16rem;
    height: auto;
    
    border: 10px dotted white;
    border-right: none;
    border-top: none;
    border-radius: 50%;
}

#hero p {
    margin: 0.1rem auto 1.2rem auto;
    padding: 0.2rem;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--text-color-main);
}
/* END HERO */

/* Hs, Ps, classes, etc */ 
h1,
h2 {
    font-family: 'Cabin Sketch', serif;
    font-weight: 700;
}

h1 {
    margin: 0 auto;
    padding: 0;
    font-size: 5rem;
    line-height: 4.8rem;
    letter-spacing: 0.1rem;
    background: var(--alt-gradient-1);
    background-clip: text;
    color: transparent;
}

h2 {
    margin: 0.4rem auto;
    padding: 0.4rem;
    font-size: 3.6rem;
    line-height: 3.8rem;
    letter-spacing: 0.1rem;
    color: var(--text-color-main);
}
/* Hs, Ps, classes, etc END */ 


/* PROJECT & ABOUT SECTIONS */
#project-box,
#about-box {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    border-top: 1px solid var(--border-3);
    color: var(--text-color-main);
}

#project-box {
    background-color: var(--bg-projects);
}

#about-box {
    background-color: var(--bg-about);
}

#project-box-content,
#about-box-content {
    margin: 0.4rem auto 0.4rem auto;
    padding: 0.8rem;
    width: 90%;
}

/* Cards */ 

.card-holder {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
}

.card {
    border: 1px solid var(--border-2);
    border-radius: 0.4rem;
    margin: 0.4rem auto 1rem auto;
    width: 30rem;
    height: 27rem;
    overflow-wrap: normal; 
}

/*
    @media only screen and (max-width: 400px) {
    .card {
        height: 27rem;
    }

    .ad-box img {
        height: 22rem;
    }
    }

    @media only screen and (min-width: 401px) and (max-width: 576px) {
    .card {
        height: 27rem;
    }
    }

    @media only screen and (min-width: 577px) and (max-width: 768px) {
    .card {
        height: 27rem;
    }
    }

    @media only screen and (min-width: 769px) {
    .card {
        height: 27rem;
    }
    }

    */

.card h3 {
    margin: 0 auto;
    padding: 0.2rem;
    width: 100%;
    font-family: 'Shadows Into Light', cursive;
    text-transform: uppercase;
    color: var(--h3-text-color);
}

.card p,
h4, h5 {
    margin: auto 1.6rem;
    text-align: start;
}

.card h4 {
    text-transform: uppercase;
    font-weight: 800;
    font: 1.2rem;
    padding: 0.2rem 0.4rem 0.1rem 0.4rem;
}

.card h5 {
    font-size: 1.1rem;
    line-height: 1.4rem;
    padding: 0 0.4rem 0.1rem 0.4rem;
    font-weight: 300;
    font-style: italic;
}

.card p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    padding: 0 0.4rem 0.4rem 0.4rem;
}

.card img {
    border: 1px solid var(--border-1);
    width: 72%;
    height: auto;
    padding: 0.2rem;
    border-radius: 0.4rem;
    margin-top: 0.8rem;
}

.card::after {
    content: "";
    clear: both;
    display: flex;
    overflow: hidden;
}

.project-card h3 {
    border-bottom: 1px solid var(--border-3);
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
}

.about-card h3 {
    border: none;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: start;
}

.about-card {
    border: 1px solid transparent;
    border-radius: 0.4rem;
    margin: 0.2rem auto 1rem auto;
    width: 72rem;
    height: auto;
}

.about-card::after {
    content: "";
    clear: both;
    display: flex;
}

.about-card h3, .about-card p {
    margin: 0.1rem auto 0.1rem 0.4rem;
    padding: 0.2rem;
}

.about-card p {
    font-size: 1rem;
    line-height: 1.2rem;
    width: 98%;
    letter-spacing: 0.1rem;
    font-weight: 300;
}

.ad-box {
    border: 6px double var(--border-3);
}

.ad-box img {
    margin:  2rem auto 1rem auto;
}


/*    check out again later 

 a:hover .card {
    background-color: var(--hover-overlay);
    cursor: pointer;
}

*/ 


.skill-icon-tray {
    margin: 0.2rem auto 0.1rem auto;
    padding: 0.2rem;
    font-size: 0.8rem;
    line-height: 0.9rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    align-items: flex-end;
    color: var(--text-color-main);
}


/* Social media icons - through FA icons */
#social-icons {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#social-icon-dashboard {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
    justify-content: space-around;
    align-items: center;
}

#social-icon-dashboard a {
    width: 2.8rem;
    height: 2.8rem;

    margin: 0.4rem auto;
    padding: 0.2rem;
    text-decoration: none;

    border: 1px solid transparent;
    border-radius: 0.4rem;

    color: var(--text-main);
    opacity: 80%;
}

#social-icon-dashboard a:hover {
    border: 1px solid white;
    background: var(--menu-button-hover-2);
}

#social-icon-dashboard i {
    box-sizing: border-box;
    margin: 0.2rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 2rem;
}
/* END SOCIAL MEDIA ICONS */


/* END PROJECT & ABOUT SECTIONS */

/* FOOTER */
footer p, #current-year {
    margin: 0 auto;
    padding: 0.2rem;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--text-color-footer);
}
/* END FOOTER */


/* LINKS */

a {
    color: var(--text-color-main);
    text-decoration: none;
}

a:visited {
    color: var(--text-color-main);
    text-decoration: none;
}